
 {% extends 'dummy.html' %}

{% block title %}
    <title>LOGIN page</title>
{% endblock %}

{% block body_block %}
<h1>Login form</h1>
<form method="post">
    {% csrf_token %}
    
    <label for="username">Enter username</label>
    <input type="text" name="username" id="username"> <br>
    <label for="password">Enter password</label>
    <input type="password" name="password" id="password"><br>
    <input type="submit" value="Submit" >
    
</form>
{% for message in messages%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
    <h1>{{message}}</h1>

    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
    {%endfor%}
{% endblock %}